<template>
  <view class="container">
    <text class="text-color-primary">Ecuacion Cuadratica</text>
    
      <text-input class="input"
        :style="{height: 50, width: 200, borderColor: 'black', borderWidth: 2}"
        v-model="text1"
      />
      
       <text-input class="input"
        :style="{height: 50, width: 200, borderColor: 'black', borderWidth: 2}"
        v-model="text2"
      />
       <text-input class="input"
        :style="{height: 50, width: 200, borderColor: 'black', borderWidth: 2}"
        v-model="text3"
      />
      <text class="ecuacion">{{ecu}}</text>
      <text class="resultado1">x1 = {{resultado1}}</text>
      <text class="resultado2">x2 = {{resultado2}}</text>
      <button 
        :on-press="Calcular"
        title="Calcular"
        color="#841584"

      />
  </view>
</template>
<script>
export default {
  data: function() {
    return {
        ecu: '',
        text1: '',
        text2: '',
        text3: '',
        resultado1: 0,
        resultado2: 0,      
        
    };
  },
  methods: {
        Calcular: function() {
          var a = parseInt(this.text1)
          var b = parseInt(this.text2)
          var c = parseInt(this.text3)
          var raiz = (b*b)-(4*a*c)
          var bn = -1*b
          var aux = Math.sqrt(raiz)
          if(a == 0 | a == 1 | a==-1){
              if(b >0){
              this.ecu = 'x² +'+this.text2+'x '+this.text3+' = 0'
              }
              if(c>0){
                this.ecu = 'x² '+this.text2+'x +'+this.text3+' = 0'
              }
              if(a==-1)this.ecu = '-x² '+this.text2+'x '+this.text3+' = 0'  
          }
          else{
              if(b >0){
                this.ecu = this.text1+'x² +'+this.text2+'x '+this.text3+' = 0'
              }
              if(c>0){
                this.ecu = this.text1+'x² '+this.text2+'x +'+this.text3+' = 0'
              }
          }
          this.resultado1 = (bn+aux)/(2*a)
          this.resultado2 = (bn-aux)/(2*a)
        }
    }
}
</script>
<style>
.container {
  background-color: white;
  align-items: center;
  margin-top: 100px;
  flex: 1;
}
.text-color-primary {
  color: blue;
  font-size: 25px;
  margin-bottom: 20px;
}
.input{
  margin-bottom: 20px;
}
.ecuacion{
  font-size: 25px;
  margin-bottom: 50px;
}
.resultado1, .resultado2{
  font-size: 20px;
  margin-bottom: 15px;
}
</style>
